html{
	background-image: url("../img/fondo.png");
}
a{
	text-decoration: none;
}
#cuerpo{
	background-image: url("../img/fondocuerpo.jpg");
	width: 95%;
	margin-left: auto;
	margin-right:auto;
}

/*Logo*/
#logo{
	float: left;
	width: 74px;
	margin-right: 3px;
	margin-left: 3px;
}

/*Menu*/
#menuPrincipal{
	background-color: black;
	width: 100%;
	height: 30px;
}
#menuPrincipal ul{
	list-style: none;
	background-color: black;
}
#menuPrincipal ul li{
	width: 194px;
	height: 29px;
	background-color: black;
	margin: auto;
	text-align: center;
}
#menuPrincipal ul li:hover{
	background-color: purple;
	color: white;
	font-weight: bold;
	border: 1px solid white;
}
#menuPrincipal ul li a{
	text-decoration: none;
	color: white;
	font-size: 1.2em;
}
#menuPrincipal ul li.nivel1 { 
	float: left;
}

/*Banner y botones*/
.banner {
	display:inline-block;
	position:relative;
	width: 100%;
}
.banner img{
	width: 100%;
	margin:auto;
	display:block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner2 img{
	margin-top: 30px;
	width: 90%;
	justify-content: center;
	box-shadow: 0 4px 8px 0 black, 0 4px 20px 0 black;
} 
.botoncico{
	position: absolute;
	top: 3em;
	background-color: #8F0005;
	border-radius:1em;
	color: white;
	padding: 1em 1.5em;
	font-size: 16px;
}
.botoncico:hover{
	background-color: darkblue;
	border: 3px solid white;
	border-radius:0em;
	color: white;
	font-weight: bold;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#comprar{
	left: 6em;
}

/*Secciones del inicio*/
.seccion{
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px black;
	text-align: center;
}
.seccion a{
	color: white;
}
.seccion a:hover{
	text-transform: uppercase;
	border: 3px solid white;
}
.seccion2{
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px black;
	text-align: center;
	font-size: 40px;
}

/*Caracteristicas, Modos de juego, Noticia propia y Reserva*/
#caracteristicas, #modos, #noticiaunica, #reserva{
	width: 70%;
	text-align: center;
	margin: auto;
	justify-content: center;
}

#caracteristicas h1, #modos h1, #noticiaunica h1, #reserva h1{
	color: lightblue;
	font-size: 36px;
}
#caracteristicas p, #modos p, #noticiaunica p, #reserva p{
	color: white;
	font-size: 30px;
	text-align: justify;
	font-weight: bold;
}

#reservar label{
	color: white;
	font-size: 20px;
}
.imagDes{
	width: 100%;
	margin: auto;
	display: block;
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

/*Noticias y Videos*/
#noticias, #videos{
	justify-content: center;
	display: table;
	margin-left: 76px;
}
div.gallery {
  margin: 6px;
  border: 1px solid #ccc;
  float: left;
  width: 30%;
}
div.gallery:hover {
  border: 1px solid red;
  box-shadow: 0 4px 8px 0 red, 0 4px 20px 0 red;
}
div.gallery img{
  width: 100%; 
}

div.gallery p{
	font-weight: bold;
	font-size: 18px;
}
div.gallery .sabermasnoticia{
	text-decoration: none;
	font-weight: bold;
	border: 2px solid grey;
	background-color: white;
	font-size: 16px;
}
div.gallery .sabermasnoticia:hover{
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid white;
	background-color: black;
	border-radius:1em;
	font-size: 20px;
}
div.gallery a{
	text-decoration: none;
	color: black;
}
div.gallery a:hover{
	color: white;
}
div.desc {
  padding: 8px;
  text-align: center;
  background-color: lightgrey;
}
#videos iframe{
	width: 353px;
	height: 197px;
}

/*Roster*/
#roster{
	position: center;
	display: table;
	margin-left: 50px;
}
#roster img{
	display: block;
	width: 18%;
	margin: 6px;
	float: left;
	border: 1px solid black;
}
#roster a img:hover{
  box-shadow: 0 4px 8px 0 red, 0 4px 20px 0 red;
  border: 1px solid red;
}

/*Reservar*/
#edEstandar p, #edColeccionista p{
	text-align: center;
}
#edEstandar ul, #edColeccionista ul{
	text-align: left;
	color: lightgrey;
	text-transform: uppercase;
}
#reserva img{
	width: 200px;
}
#reserva h2{
	color: red;
	font-size: 40px;
	font-weight: bold;
}
#labelpc, #tienda, #edEstandar, #edColeccionista, #onlineps4, #onlinexbox, #onlinepc{
	display: none;
}
.textLabel{
	color: white;
	font-size: 30px;
	margin-right: 10px;
	font-weight: bold;
}
#labelParaPS4{
	background-color: darkblue;
}
#labelParaXBOX{
	background-color: darkgreen;
}
#labelpc{
	background-color: grey;
}
#formato, #consola, #version{
	text-align: center;
	justify-content: center;
	display: block;
}

/*Footer*/
footer{
	margin-top: 20px;
	background-color:black;
	color: white;
	justify-content: center;
	font-size: 20px;
}
#logos{
	width: 50%;
	margin: auto;
	display: block;
}
#enlacesFooter, #copyrightFooter{
	width: 90%;
}
#enlacesFooter{
	justify-content: space-around;
	display: flex;
	flex-flow: row wrap;
	margin-left: 50px;
}

#copyrightFooter p{
	text-align: justify;
	margin-left: 50px;
}
#enlacesFooter a{
	text-decoration: none;
	color: white;
	
}
#enlacesFooter img{
	width: 10%;
	margin: auto;
	display: block;
}